# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: 'en'
    country: 'NL'

    # This parameter defines the codes of the locales (languages) enabled in the application
    app_locales: en|fr|de|es|cs|nl|ru|uk|ro|pt_BR|pl|it|ja|id|ca|sl|hr|zh_CN
    app.notifications.email_sender: anonymous@example.com

services:
    # default configuration for services in *this* file
    _defaults:
        # automatically injects dependencies in your services
        autowire: true
        # automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        public: false
        # defines the scalar arguments once and apply them to any service defined/created in this file
        bind:
            $locales: '%app_locales%'
            $defaultLocale: '%locale%'
            $emailSender: '%app.notifications.email_sender%'
            $countryCode: '%country%'

    ####################################################################################################################
    # BATCH AUTO-WIRING
    ####################################################################################################################

    # Makes classes in src/ available to be used as services.
    # This creates a service per class whose id is the fully-qualified class name.
    Acme\App\:
        resource: '../src/*'
        # You can exclude directories or files but if a service is unused, it's removed anyway.
        # However, excluding these makes the auto-wiring faster and less prone to errors.
        exclude: '../src/**/{Entity,*Enum.php,*ValueObject.php,*Dto.php,*ViewModel.php}'

    # So we can use these fixtures
    Acme\App\Build\Fixture\Doctrine\:
        resource: '../build/Fixture/Doctrine/*'

    # Controllers are imported separately to make sure they're public,
    # and have a tag that allows actions to type-hint services.
    Acme\App\Presentation\Web\Core\:
        resource: '../src/Presentation/Web/Core/**/*Controller.php'
        tags: ['controller.service_arguments']

    Acme\PhpExtension\:
        resource: '../lib/php-extension/src/*'
        # You can exclude directories or files but if a service is unused, it's removed anyway.
        # However, excluding these makes the auto-wiring faster and less prone to errors.
        exclude: '../lib/php-extension/src/**/{Entity,*Enum.php,*ValueObject.php,*Dto.php,*ViewModel.php}'

    ####################################################################################################################
    # ADJUSTMENTS TO THE AUTO-WIRING
    ####################################################################################################################

    # When the service definition only contains arguments, you can omit the
    # 'arguments' key and define the arguments just below the service class
    # We make it lazy loaded so that we can get it from the container and inject it into the event dispatcher
    # without it being instantiated
    Acme\App\Core\Component\Blog\Application\Event\CommentCreatedListener:
        lazy:  true
        arguments:
            $senderEmail: '%app.notifications.email_sender%'
        tags:
            - name: 'sync_event_dispatcher'
              event: 'Acme\App\Core\SharedKernel\Component\Blog\Application\Event\CommentCreatedEvent'
              method: notifyPostAuthorAboutNewComment

    # There are several implementations of this interface, so we need to choose one of them
    Acme\App\Core\Port\Persistence\KeyValueStorageInterface:
        class: Acme\App\Infrastructure\Persistence\Doctrine\KeyValueStorage

    Acme\App\Core\Port\Persistence\QueryServiceRouter:
        - '@Acme\App\Infrastructure\Persistence\Doctrine\DqlPersistenceService'

    Acme\App\Core\Port\Validation\PhoneNumber\PhoneNumberValidatorInterface:
        class: Acme\App\Infrastructure\Validation\PhoneNumber\LibPhoneNumber\PhoneNumberValidator
        arguments:
            - '@libphonenumber\PhoneNumberUtil'

    Acme\App\Presentation\Web\Core\Exception\ExceptionController:
        public: true
        arguments:
            $debug: '%kernel.debug%'

    Acme\App\Presentation\Web\Core\Port\FlashMessage\FlashMessageServiceInterface:
        class: Acme\App\Presentation\Web\Infrastructure\FlashMessage\Symfony\FlashMessageService
        arguments:
            $flashBag: "@=service('session').getFlashBag()"

    libphonenumber\PhoneNumberUtil:
        factory: ['libphonenumber\PhoneNumberUtil', getInstance]

    Symfony\Bridge\PsrHttpMessage\HttpFoundationFactoryInterface:
        class: Symfony\Bridge\PsrHttpMessage\Factory\HttpFoundationFactory

    Symfony\Bridge\PsrHttpMessage\HttpMessageFactoryInterface:
        class: Symfony\Bridge\PsrHttpMessage\Factory\DiactorosFactory
