<p style="margin: 0 0 15px; font-family: 'Helvetica Neue', arial, sans-serif; font-size: 15px; line-height: 22px; -webkit-text-size-adjust: none;">
    {{ 'default.email.signature.best_regards'|trans }},<br/><br/>
    {{ 'default.email.signature.sender'|trans }}<br/>
</p>
