{% extends '@Web/Core/_base.layout.html.twig' %}

{% block body_id 'comment_form_error' %}

{% block main %}
    <h1 class="text-danger">{{ 'title.comment_error'|trans }}</h1>

    <div class="well">
        {{ include('@Blog/User/Comment/edit.html.twig') }}
    </div>
{% endblock %}
