{% if not tagList is empty %}
    <p class="post-tags">
        {% for tag in tagList %}
            <span class="label label-default">
                <i class="fa fa-tag"></i> {{ tag }}
            </span>
        {% endfor %}
    </p>
{% endif %}

